h1 {
  color: rgb(4, 26, 9);
  text-align: center;
}

body {
  background-color: rgb(230, 216, 244);
  color: rgb(0, 10, 0);
}

a {
  color: blue;
}

.croissant-image {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
}

p {
  text-align: center;
}

footer {
  text-align: center;
}
